<div class="container">
  <h1>Welcome to the Cryptic Garden Tarot Reader!</h1>
  <h2 class="main-nav"><a href="/cards/random">Pick a card</a></h2>
  <h2 class="main-nav"><a href="/cards/spread">Deal a spread</a></h2>
</div>
